---
layout: default
---

<div class="info-box">
    <p class="beginner">This text color means <strong>beginner</strong>  level post</p>
    <p class="intermediate">This text color means <strong>intermediate</strong> level post</p>
    <p class="advance">This text color means <strong>advance</strong> level post</p>
</div>

<div class="home">
    <div class="side-bar">
        <h1 class="page-heading">Posts</h1>

        <ul class="post-list">
            {% for category in site.categories %}
            <li><a name="{{ category | first }}">{{ category | first }}</a>
                <ul>
                    {% for posts in category %}
                    {% for post in posts %}
                    <li class="{{ post.subcategory }}"><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="latest-post">
        <!-- show latest post using limit:1 -->
        {% for post in site.posts limit:1 %}
             {{ post.content }}
        {% endfor %}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>


</div>
