/**
 * my custom style sheet
 */
.beginner, .beginner a {
  color: #000000;
}

.intermediate, .intermediate a{
  color: chocolate;
}

.advance, .advance a{
  color: #990073;
}

.home{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.info-box{
  border: 3px solid #ffaaaa;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  p{
    line-height: 0.8;
    text-decoration: double;
  }
}

